
.weatherLocationCont{
    margin-bottom: 10px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.15);
    background: white;
    cursor: pointer;
    
    .locationCont{
        margin-bottom: 10px;
        text-align: left;
        color: #888;
        h1{
            margin: 0;
        }
    }
    
}