.weatherDataCont {
  background: rgba(200, 200, 200, 0.5);
  width: 100%;
  height: 100px;
  line-height: 100px;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.weatherExtraInfoCont {
  width: 40%;
  line-height: 28px;
  text-align: left;
  .extraInfoText {
    font-size: 16px;
    font-weight: bold;
  }
}

.weatherTemperatureCont {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  .wicon {
    color: rgb(255, 72, 0);
  }
  .temparature {
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
    color: #333;
  }
  .temparatureType {
    font-weight: bold;
    color: #666;
  }
}
